.course-details {
	max-width: 100%;
	margin: 0 auto;

    &__back {
        text-decoration: none;
        color: black;
        background-color: #f4f4f4;
        border-radius: 10px;
        padding: .75rem 1.5rem;
        font-size: 14px;
        transition: .2s ease background-color;

        a {
            &:hover {
                text-decoration: none;
                color: black;
                background-color: #ddd;
                transition: .2s ease background-color;
            }
        }
    }

    &__scorecard {
        border-collapse: collapse;
        margin: 0 auto;

        td {
            border: 1px solid black;
            width: 100px;

            &.green {
                background-color: #228B22;
                color: white;
            }

            input {
                width: calc(100% - 15px);
                margin: 0;
                text-align: center;
                border: none;
                padding: 0 0 0 15px;
                font-size: 16px;
                font-family: Avenir, Helvetica, Arial, sans-serif;
            }
        }
    }
}